
module codebeamer-nohup-access 1.0;

require {
	type user_home_t;
	type init_t;
	class file { create execute execute_no_trans ioctl open read write };
}

#============= init_t ==============
allow init_t user_home_t:file write;

#!!!! This avc is allowed in the current policy
#!!!! This av rule may have been overridden by an extended permission av rule
allow init_t user_home_t:file { create execute execute_no_trans ioctl open read };
